.head{
    
    height: 100px;
    width: 200px
    

}

body {
    background-color: blue;#
}

#crystal11 {
height: 50px;
width: 50px;

}

#crystal12 {
height: 50px;
width: 50px;

}

#crystal13 {
height: 50px;
width: 50px;

}

#crystal14 {
height: 50px;
width: 50px;

}