#headMain{
    background-color: brown;
    font-size: 30px;
    padding-top: 15px;
    padding-left: 10px;
    height: 75px;
    width: 200px;
}  
#instructions{
    
    background-color: bisque;
    padding-top: 20px;
    padding-left: 10px;
    height: 200px;
    width: 600px;
}


body {
    background-color: blue;
}

#crystal11 {
height: 50px;
width: 50px;

}

#crystal12 {
height: 50px;
width: 50px;

}

#crystal13 {
height: 50px;
width: 50px;

}

#crystal14 {
height: 50px;
width: 50px;

}

#randomNumber {
    float: left;
    background-color: forestgreen;
    font-size: 40px;
    padding-top: 20px;
    padding-left: 20px;
    height: 100px;
    width: 150px;
}

#score {
    float: left;
    background-color: aqua;
    padding-top: 15px;
    padding-left: 10px;
    height: 100px;
    width: 100px;
}

#buttons {
    clear: both;
}

#scoreText {
    background-color: forestgreen;
    padding-top: 10px;
    padding-left: 10px;
    height: 40px;
    width: 250px;
}

#sumScore {
    background-color: forestgreen;
    font-size: 40px;
    padding-top: 20px;
    padding-left: 20px;
    height: 100px;
    width: 150px;
}